<form [formGroup]="loginForm">
  <div class="form-group" style="width:50%;margin-left:25%">
    <div class="input-group mb-3 " >
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" formControlName="Name" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">*</span>
        </div>
        <input type="password" formControlName="Password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <button type="button" style="margin-left: 39%; width:25%" [disabled]="!loginForm.valid" class="btn btn-outline-success"  (click)="Login()"><b>Login</b></button>
</form>
